# Magnus
Magnus Tomter Ouren <magnutou@stud.ntnu.no> Magnus Tomter Ouren <magnutou@stud.ntnu.no>
Magnus Tomter Ouren <magnutou@stud.ntnu.no> Magnus T. Ouren <91123056+magnusouren@users.noreply.github.com>
Magnus Tomter Ouren <magnutou@stud.ntnu.no> magnutou <magnutou@stud.ntnu.no>

# Mats
Mats Jun Larsen <matsjla@stud.ntnu.no> Mats Jun Larsen <matsjla@stud.ntnu.no>
Mats Jun Larsen <matsjla@stud.ntnu.no> Mats Larsen <me@supergrecko.com>

# Isak
Isak Solheim <imsolhei@stud.ntnu.no> Isak Solheim <imsolhei@stud.ntnu.no>
Isak Solheim <imsolhei@stud.ntnu.no> isaksolheim <imsolhei@stud.ntnu.no>

# Tale
Tale Nygaard Eikenes <talene@stud.ntnu.no> Tale Nygaard Eikenes <talene@stud.ntnu.no>
Tale Nygaard Eikenes <talene@stud.ntnu.no> taleeikenes <talene@stud.ntnu.no>
