.myButton {
    -fx-background-color: #051094;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Andale Mono";
}

.playButton {
    -fx-background-color: #6a76fb;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Andale Mono";
    -fx-pref-width: 50px;
}

.addCardButton {
    -fx-background-color: #6a76fb;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Andale Mono";
    -fx-pref-width: 30px;
}

.myButton:hover {
    -fx-text-size: 30px;
}

.pressButton:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 0, 0, 10, 10);
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.15), 100, 100, 0, 0);
}
